.work-image{
    height: 250px;
    width: 250px;
    border: 2px solid #F96666;
    border-radius: 50%;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 3rem;
    margin-left: 6rem;
}
.work-list h3{
    font-size: 20px;
    font-weight: lighter;
    color: #F96666;
    padding-left: 1rem;
}
.work h2{
    color: #231955;
    font-size: 45px;
    font-weight: lighter;
    margin-left: 29rem;
    margin-top: 2rem;
}
.work span{
    color: #F96666;
    font-size: 45px;
    font-weight: lighter;
}

@media screen and (max-width:1024px){
    .work h2{
        margin-left: 22.5rem;
    }
    .work-list{
        gap: 3rem;
        margin-left: 2rem;
    }
    .work{
        height: 55vh;
    }
}

@media screen and (max-width:768px){
    .work h2{
        margin-left: 20rem;
    }
    .work-list{
        margin-left: 0.5rem;
    }
}

@media screen and (max-width:425px){
    .work h2{
        margin-left: 20rem;
        margin-right: -33rem;
    }
}